{% extends "layout.html" %}
{% block title %}404 Not Found{% endblock %}
{% block main_div_class %}site-image error-img{% endblock %}
{% block sections %}
    <section class="error-section">
        <div class="container">
            <h3>404</h3>
            <h4>Error Page not found</h4>
            <ul class="site-dot">
                <li></li>
                <li><span><i></i></span></li>
                <li></li>
            </ul>
            <a href="{{ url_for('index') }}" class="the-link">Go home</a>
        </div>
    </section>
{% endblock %}
