<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>E-event</title>
        <meta name="description" content="Here goes description" />
        <meta name="author" content="author name" />
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Style CSS + Google Fonts -->
        {% assets "default_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>
    <body>
        <!-- start site image -->
        <div class="site-image error-img">
            <!-- start header -->
            <header class="sticky-bar">
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <ul class="header-info">
                                    <li>Don't miss the next event!</li>
                                    <li><i class="fa fa-phone"></i>+341 234 412</li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:contact@e-event.com">contact@e-event.com</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="header-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xs-6">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logow.png" alt="logo" /></a>
                                </div>
                            </div>
                            <div class="col-md-8 col-xs-6">
                                <nav class="main-nav">
                                    <div class="responsive-menu"><i class="fa fa-bars"></i></div>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul>
                                                <li><a href="rsvp.html">RSVP Page</a></li>
                                                <li><a href="login-register.html">Login / Register</a></li>
                                                <li>
                                                    <a href="#">Events</a>
                                                    <ul>
                                                        <li><a href="events-4c.html">Events 4 col</a></li>
                                                        <li><a href="events-3c.html">Events 3 col</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="event.html">Single Event</a></li>
                                                <li>
                                                    <a href="#">Gallery</a>
                                                    <ul>
                                                        <li><a href="gallery-4c.html">Gallery 4 col</a></li>
                                                        <li><a href="gallery-3c.html">Gallery 3 col</a></li>
                                                        <li><a href="gallery-2c.html">Gallery 2 col</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="error-404.html">Error 404</a></li>
                                                <li><a href="index-footerv2.html">Footer v2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Speakers</a>
                                            <ul>
                                                <li><a href="speakers.html">Speakers v1</a></li>
                                                <li><a href="speakers-2.html">Speakers v2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="schedule.html">Schedule</a></li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-leftsidebar.html">Blog LeftSidebar</a></li>
                                                <li><a href="post.html">Single Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->
            <!-- start error 404 -->
            <section class="error-section">
                <div class="container">
                    <h3>404</h3>
                    <h4>Error Page not found</h4>
                    <ul class="site-dot">
                        <li></li>
                        <li><span><i></i></span></li>
                        <li></li>
                    </ul>
                    <a href="index.html" class="the-link">Go home</a>
                </div>
            </section>
            <!-- end error 404 -->
        </div>
        <!-- end siteimage -->
        <!-- start footer -->
        <footer class="footer-v1">
            <div class="footer-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m8!1m3!1d6052.183019241734!2d-73.94249441534424!3d40.67195262395485!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m3!3m2!1d40.6753947!2d-73.9459706!4m0!5e0!3m2!1sen!2s!4v1425633499040" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="container">
                <div class="bottom-footer">
                    <div class="subscribe-box">
                        <i class="fa fa-newspaper-o"></i>
                        <form>
                            <input type="text" class="subscribe-line" placeholder="Subscribe for updates about new events" />
                            <input type="submit" class="subscribe-button" value="Subscribe" />
                        </form>
                    </div>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <nav class="second-nav">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="events.html">Events</a></li>
                                        <li><a href="speakers.html">Speakers</a></li>
                                        <li><a href="schedule.html">Schedule</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">&copy; 2015 E-event • All rights reserved <i class="the-dot"></i> Designed & Developed by TeslaThemes</div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        {% assets "default_js" %}
            <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}-->
    </body>
</html>