{% extends "layout.html" %}
{% block title %}Event - {{ event[1] }}{% endblock %}
{% block main_div_class %}site-image page-img{% endblock %}
{% block sections %}
    <section class="path-section">
        <div class="container">
            <h3>Event</h3>
            <ul class="site-dot">
                <li></li>
                <li><span><i></i></span></li>
                <li></li>
            </ul>
            <p>Home / Events / Single Event</p>
        </div>
    </section>
{% endblock %}
{% block extra_sections %}
<section class="event-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="event-post">
                    <div class="event-header">
                        <div class="event-header-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-event-info">
                                        <i class="fa fa-calendar"></i>
                                        <p>{{ event[5]|strftime('%b %d, %Y') }}<br/>{{ event[5]|strftime('%H:%M') }} - {{ event[6]|strftime('%H:%M') }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-event-info">
                                        <i class="fa fa-map-marker"></i>
                                        <p>{{ event[15] }}<br/>{{ event[18] }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-event-info">
                                        <i class="fa fa-street-view"></i>
                                        <p>Speaker:<br/> {{ event[24] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>{{ event[1] }}</h2>
                    </div>
                    <div class="event-content">
                        {{ event[8]|safe }}
                    </div>
                    <div class="event-footer">
                        <ul class="event-socials">
                            <li>Share: </li>
                            <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i>Google+</a></li>
                        </ul>
                        <div class="event-selections">
                            <a href="#" class="the-link-3">Upcomming events</a>
                        </div>
                    </div>
                </div>
                <section class="coming-events">
                    <div class="row">
                        {% for item in upcomingevents %}
                            <div class="col-md-4 col-xs-6">
                                <div class="event-box">
                                    <div class="event-box-cover">
                                        <div class="event-box-hover">
                                            <div class="event-box-share">{{ item[9] }}<span>Shares</span></div>
                                            <h6>{{ item[3] }}</h6>
                                        </div>
                                        {% if item[10] %}
                                            <img src="{{ item[10] }}" alt="event" />
                                        {% else %}
                                            <img src="{{ url_for('static', filename='images/default-event.png') }}" alt="event" />
                                        {% endif %}
                                    </div>
                                    <h4><a href="{{ url_for('events', event_id=item[0]) }}">{{ item[1] }}</a></h4>
                                    <p>{{ item[5]|strftime('%b %d, %Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="main-sidebar">
                    <div class="widget widget-price">
                        <h3 class="widget-title">Ratings</h3>
                        <ul class="site-dot">
                            <li></li>
                            <li><span><i></i></span></li>
                            <li></li>
                        </ul>
                        <div class="pricing-box">
                            <div class="pricing-box-circle">
                                <div>
                                    <i class="fa fa-star"></i>
                                    <h6>{{ event[27] | round(1) }}</h6>
                                    <p>{{ event[28] }} user</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if session.uid %}
                        <div class="widget widget-buy">
                            <div class="rsvp">
                                <h3 class="widget-title">Add Review</h3>
                                <ul class="site-dot">
                                    <li></li>
                                    <li><span><i></i></span></li>
                                    <li></li>
                                </ul>
                                <div id="review-success" style="display: none;" class="alert alert-success fade in col-md-10 col-md-offset-1"><strong>Success!</strong></div>
                                <form id="review-form">
                                    <fieldset class="rating text-center">
                                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                                    </fieldset>
                                    <textarea id="message" placeholder="Message"></textarea>
                                    <input type="button" id="submit_reviews" value="Write">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        $('#submit_reviews').click(function() {
            $.ajax({
                url: '#',
                type: 'POST',
                data: {
                    'rating': $('input[name="rating"]:checked').val(),
                    'message': document.querySelector('#message').value
                },
                success: function (response){
                    $('#review-form').hide();
                    $('#review-success').show();
                }
            });
        });
    </script>
{% endblock %}