{% extends "layout.html" %}
{% block title %}Event - {{ event[1] }}{% endblock %}
{% block main_div_class %}site-image page-img{% endblock %}
{% block sections %}
    <section class="path-section">
        <div class="container">
            <h3>Event</h3>
            <ul class="site-dot">
                <li></li>
                <li><span><i></i></span></li>
                <li></li>
            </ul>
            <p>Home / Events / View</p>
        </div>
    </section>
{% endblock %}
{% block extra_sections %}
<section class="event-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="event-post">
                    <div class="event-header">
                        <div class="event-header-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box-event-info">
                                        <i class="fa fa-calendar"></i>
                                        {% if event[4]|strftime('%b %d, %Y') == event[6]|strftime('%b %d, %Y')  %}
                                            <p>{{ event[4]|strftime('%b %d, %Y') }} <br> {{ event[4]|strftime('%H:%M') }} - {{ event[6]|strftime('%H:%M') }}</p>
                                        {% else %}
                                            <p>{{ event[4]|strftime('%H:%M') }} {{ event[4]|strftime('%b %d, %Y') }} <br> {{ event[6]|strftime('%H:%M') }} {{ event[6]|strftime('%b %d, %Y') }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-event-info">
                                        <i class="fa fa-map-marker"></i>
                                        <p>{{ event[15] }}<br/>{{ event[18] }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-event-info">
                                        <i class="fa fa-street-view"></i>
                                        <p>Author:<br/> {{ event[24] }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-event-info">
                                        <i class="fa fa-cubes"></i>
                                        <p>Category:<br/> {{ event[31] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>{{ event[1] }}</h2>
                    </div>
                    <div class="event-content">
                        {{ event[8]|safe }}
                    </div>
                    <div class="event-footer">
                        <ul class="event-socials">
                            <li>Share: </li>
                            <li><a href="http://twitter.com/share?text={{ event[1] }}&url=https://eventico.herokuapp.com{{ url_for('events', event_id=event[0]) }}&hashtags=Eventico"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://eventico.herokuapp.com{{ url_for('events', event_id=event[0]) }}"><i class="fa fa-facebook"></i>Facebook</a></li>
                        </ul>
                        {% if reviews %}
                            <div class="slide">
                                {% for item in reviews %}
                                    <div class="slider-item">
                                        <br>
                                        <blockquote>
                                            <p>{{ item[4] }}</p>
                                            <footer><span class="stars">{{ item[3] }}</span><strong><cite title="{{ item[6] }}">{{ item[6] }}</cite></strong></footer>
                                        </blockquote>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="event-selections">
                            <a href="#" class="the-link-3">Upcomming events</a>
                        </div>
                    </div>
                </div>
                <section class="coming-events">
                    <div class="row">
                        {% for item in upcomingevents %}
                            <div class="col-md-4 col-xs-6">
                                <div class="event-box">
                                    <div class="event-box-cover">
                                        <div class="event-box-hover">
                                            <div class="event-box-share">{{ item[9] }}<span>Shares</span></div>
                                            <h6>{{ item[3] }}</h6>
                                        </div>
                                        {% if item[10] %}
                                            <img src="{{ item[10] }}" alt="event" />
                                        {% else %}
                                            <img src="{{ url_for('static', filename='images/default-event.png') }}" alt="event" />
                                        {% endif %}
                                    </div>
                                    <h4><a href="{{ url_for('events', event_id=item[0]) }}">{{ item[1] }}</a></h4>
                                    <p>{{ item[5]|strftime('%b %d, %Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="main-sidebar">
                    <div class="widget widget-price">
                        <h3 class="widget-title">Ratings</h3>
                        <ul class="site-dot">
                            <li></li>
                            <li><span><i></i></span></li>
                            <li></li>
                        </ul>
                        <div class="pricing-box">
                            <div class="pricing-box-circle">
                                <div>
                                    <i class="fa fa-star"></i>
                                    {% if event|length > 28 and event[27] and event[28] %}
                                        <h6>{{ event[27] | round(1) }}</h6>
                                        <p>{{ event[28] }} user</p>
                                    {% else %}
                                        <h6>0</h6>
                                        <p>no user rated</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="widget widget-buy">
                        <div class="rsvp">
                            <h3 class="widget-title">Add Review</h3>
                            <ul class="site-dot">
                                <li></li>
                                <li><span><i></i></span></li>
                                <li></li>
                            </ul>
                            <div id="review-success" style="display: none;" class="alert alert-success fade in col-md-10 col-md-offset-1"><strong>Success!</strong></div>
                            <form id="review-form">
                                <fieldset class="rating text-center">
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                                </fieldset>
                                <textarea id="message" placeholder="Message"></textarea>
                                {% if session.uid %}
                                    <input type="button" id="submit_reviews" value="Write">
                                {% else %}
                                    <a href="{{ url_for('login', redirect_url=url_for('events', event_id=event[0])) }}">
                                    <input type="button" value="Login First!"></a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        $.fn.stars = function() {
            return $(this).each(function() {
                var val = parseFloat($(this).html());
                var size = Math.max(0, (Math.min(5, val))) * 16;
                var $span = $('<span />').width(size);
                $(this).html($span);
            });
        }
        $('#submit_reviews').click(function() {
            $.ajax({
                url: '#',
                type: 'POST',
                data: {
                    'rating': $('input[name="rating"]:checked').val(),
                    'message': document.querySelector('#message').value
                },
                success: function (response){
                    $('#review-form').hide();
                    $('#review-success').show();
                }
            });
        });
        $('.slide').textSlider({
            timeout: 4000,
            slideTime: 750,
            loop: 1
        });
        $('span.stars').stars();
    </script>
{% endblock %}