{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main_div_class %}site-image home-img{% endblock %}
{% block main_div %}
    <div class="the-countdown-slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
        <div class="container">
            <div class="slide-arrows">
                <div class="slide-left the-link-3">Prev</div>
                <div class="slide-right the-link-2">Next</div>
            </div>
        </div>
        <ul class="slide-wrapper">
            <li class="slide">
                <!-- start countdown -->
                <section class="countdown-section">
                    <div class="container">
                        <h1><a href="#">How To Organize Your Business</a></h1>
                        <div class="event-link">
                            <span>Event</span> starts in
                        </div>
                        <div class="countdown-box">
                            <div id="the-countdown" class="row the-countdown" data-duedate="12/12/2017">
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="days">00</div>
                                    <span>Days</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="hours">00</div>
                                    <span>Hours</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="minutes">00</div>
                                    <span>Minutes</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="seconds">00</div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="countdown-section">
                    <div class="container">
                        <h1><a href="#">My life needs a change</a></h1>
                        <div class="event-link">
                            <span>Event</span> starts in
                        </div>
                        <div class="countdown-box">
                            <div id="the-countdown" class="row the-countdown" data-duedate="6/11/2016 07:30">
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="days">00</div>
                                    <span>Days</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="hours">00</div>
                                    <span>Hours</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="minutes">00</div>
                                    <span>Minutes</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="seconds">00</div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="countdown-section">
                    <div class="container">
                        <h1><a href="#">The Last event You have listed</a></h1>
                        <div class="event-link">
                            <span>Event</span> starts in
                        </div>
                        <div class="countdown-box">
                            <div id="the-countdown" class="row the-countdown" data-duedate="6/1/2017 07:30">
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="days">00</div>
                                    <span>Days</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="hours">00</div>
                                    <span>Hours</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="minutes">00</div>
                                    <span>Minutes</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="seconds">00</div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
{% endblock %}
{% block sections %}
    <section class="coming-events" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item="&gt;div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
        <div class="container">
            <h3 class="site-title">Latest <span>Events</span><i></i></h3>
            <div class="row tesla-carousel-items no-margin">
                {% for item in events %}
                    <div class="col-md-3 col-xs-6">
                        <div class="event-box">
                            <div class="event-box-cover">
                                <div class="event-box-hover">
                                    <div class="event-box-share">{{ item[9] }}<span>Shares</span></div>
                                    <h6>{{ item[3] }}</h6>
                                </div>
                                {% if item[10] %}
                                    <img src="{{ item[10] }}" alt="event" />
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/default-event.png') }}" alt="event" />
                                {% endif %}
                            </div>
                            <h4><a href="event.html">{{ item[1] }}</a></h4>
                            <p>{{ item[5]|strftime }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul>
                <li class="prev disabled"><i class="fa fa-arrow-circle-left"></i></li>
                <li><i class="fa fa-circle"></i></li>
                <li class="next"><i class="fa fa-arrow-circle-right"></i></li>
            </ul>
        </div>
    </section>
    <section class="our-team">
        <div class="container">
            <h3 class="site-title">Our <span>Speakers</span><i></i></h3>
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="team-member">
                        <div class="member-cover">
                            <div class="round-relative">
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <img src="images/member-1.jpg" alt="member" />
                            </div>
                        </div>
                        <h5>Steve Maguire</h5>
                        <h6>technology systems</h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <br/><br/><br/><br/>
                    <div class="team-member">
                        <div class="member-cover">
                            <div class="round-relative">
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <img src="images/member-2.jpg" alt="member" />
                            </div>
                        </div>
                        <h5>Mike mccarthy</h5>
                        <h6>entrepreneurship</h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="team-member">
                        <div class="member-cover">
                            <div class="round-relative">
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <img src="images/member-3.jpg" alt="member" />
                            </div>
                        </div>
                        <h5>angie bergman</h5>
                        <h6>design mockups</h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <br/><br/><br/><br/>
                    <div class="team-member">
                        <div class="member-cover">
                            <div class="round-relative">
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <img src="images/member-4.jpg" alt="member" />
                            </div>
                        </div>
                        <h5>walter baines</h5>
                        <h6>business innovation</h6>
                    </div>
                </div>
            </div>
            <p class="align-center">
                <a href="speakers.html" class="section-link">View all the speakers</a>
            </p>
        </div>
    </section>
    <section class="event-schedule">
        <div class="container">
            <h3 class="site-title">Events <span>schedule</span><i></i></h3>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#schedule1" aria-controls="schedule1" role="tab" data-toggle="tab">April</a></li>
                    <li role="presentation" class="active"><a href="#schedule2" aria-controls="schedule2" role="tab" data-toggle="tab">May</a></li>
                    <li role="presentation"><a href="#schedule3" aria-controls="schedule3" role="tab" data-toggle="tab">June</a></li>
                    <li role="presentation"><a href="#schedule4" aria-controls="schedule4" role="tab" data-toggle="tab">July</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="schedule1">
                        <div class="event-day">
                            <h5>April <span>20</span></h5>
                            <ul class="row">
                                <li class="col-md-1"><span>10:00 AM</span>13:30 PM</li>
                                <li class="col-md-5"><a href="event.html">How to organize your business.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 386F</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>14:00 PM</span>16:00 PM</li>
                                <li class="col-md-5"><a href="event.html">The next web conference.</a></li>
                                <li class="col-md-2"><i>Speaker: Steve Maguire</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 236C</li>
                            </ul>
                        </div>
                        <div class="event-day">
                            <h5>April <span>23</span></h5>
                            <ul class="row">
                                <li class="col-md-1"><span>10:00 AM</span>13:30 PM</li>
                                <li class="col-md-5"><a href="event.html">How to organize your business.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 386F</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="schedule2">
                        <div class="event-day">
                            <h5>May <span>18</span></h5>
                            <ul class="row">
                                <li class="col-md-1"><span>10:00 AM</span>13:30 PM</li>
                                <li class="col-md-5"><a href="event.html">How to organize your business.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 386F</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>14:00 PM</span>16:00 PM</li>
                                <li class="col-md-5"><a href="event.html">The next web conference.</a></li>
                                <li class="col-md-2"><i>Speaker: Steve Maguire</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 236C</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>16:20 PM</span>18:30 PM</li>
                                <li class="col-md-5"><a href="event.html">Grow intelligence, through learning.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> Vienta Amadeus street, 129A</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>19:00 PM</span>20:30 PM</li>
                                <li class="col-md-5"><a href="event.html">The more you learn, the better.</a></li>
                                <li class="col-md-2"><i>Speaker: Steve Maguire</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 236C</li>
                            </ul>
                        </div>
                        <div class="event-day">
                            <h5>May <span>21</span></h5>
                            <ul class="row">
                                <li class="col-md-1"><span>10:00 AM</span>13:30 PM</li>
                                <li class="col-md-5"><a href="event.html">How to organize your business.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 386F</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>14:00 PM</span>16:00 PM</li>
                                <li class="col-md-5"><a href="event.html">The next web conference.</a></li>
                                <li class="col-md-2"><i>Speaker: Steve Maguire</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 236C</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>16:20 PM</span>18:30 PM</li>
                                <li class="col-md-5"><a href="event.html">Grow intelligence, through learning.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> Vienta Amadeus street, 129A</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="schedule3">
                        <div class="event-day">
                            <h5>June <span>09</span></h5>
                            <ul class="row">
                                <li class="col-md-1"><span>10:00 AM</span>13:30 PM</li>
                                <li class="col-md-5"><a href="event.html">How to organize your business.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 386F</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>14:00 PM</span>16:00 PM</li>
                                <li class="col-md-5"><a href="event.html">The next web conference.</a></li>
                                <li class="col-md-2"><i>Speaker: Steve Maguire</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 236C</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>16:20 PM</span>18:30 PM</li>
                                <li class="col-md-5"><a href="event.html">Grow intelligence, through learning.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> Vienta Amadeus street, 129A</li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="schedule4">
                        <div class="event-day">
                            <h5>July <span>28</span></h5>
                            <ul class="row">
                                <li class="col-md-1"><span>10:00 AM</span>13:30 PM</li>
                                <li class="col-md-5"><a href="event.html">How to organize your business.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> London Baker street, 386F</li>
                            </ul>
                            <ul class="row">
                                <li class="col-md-1"><span>16:20 PM</span>18:30 PM</li>
                                <li class="col-md-5"><a href="event.html">Grow intelligence, through learning.</a></li>
                                <li class="col-md-2"><i>Speaker: Walter Baines</i></li>
                                <li class="col-md-3"><span>Venue:</span> Vienta Amadeus street, 129A</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-partners" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item="&gt;div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
        <div class="container">
            <h3 class="site-title">Main <span>Partners</span><i></i></h3>
            <div class="row tesla-carousel-items">
                <div class="col-md-2 col-xs-4">
                    <a href="http://themeforest.net/"><img src="images/partner-1.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="http://codecanyon.net/"><img src="images/partner-2.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="http://videohive.net/"><img src="images/partner-3.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="http://audiojungle.net/"><img src="images/partner-4.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="http://graphicriver.net/"><img src="images/partner-5.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="photodune.net/index.html"><img src="images/partner-6.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="http://3docean.net/"><img src="images/partner-7.png" alt="partner"/></a>
                </div>
                <div class="col-md-2 col-xs-4">
                    <a href="http://activeden.net/"><img src="images/partner-8.png" alt="partner"/></a>
                </div>
            </div>
            <ul>
                <li class="prev disabled"><i class="fa fa-arrow-circle-left"></i></li>
                <li><i class="fa fa-circle"></i></li>
                <li class="next"><i class="fa fa-arrow-circle-right"></i></li>
            </ul>
        </div>
    </section>
{% endblock %}
