{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block main_div_class %}site-image home-img{% endblock %}
{% block main_div %}
    <div class="the-countdown-slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
        <div class="container">
            <div class="slide-arrows">
                <div class="slide-left the-link-3">Prev</div>
                <div class="slide-right the-link-2">Next</div>
            </div>
        </div>
        <ul class="slide-wrapper">
            <li class="slide">
                <!-- start countdown -->
                <section class="countdown-section">
                    <div class="container">
                        <h1><a href="{{ url_for('index') }}" class="slider-logo" ><img src = "{{ url_for('static', filename='images/logo_big.png') }}" /> </a></h1>
                        <div class="event-link">
                            <span>About</span> site
                        </div>
                        <div class="countdown-box">
                            <div class="row align-center" >
                            <div class = "about"><span>
                                An online event management platform that will let you add, edit new events and show you user reviews with ease.
                                </span></div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="countdown-section">
                    <div class="container">
                        <h1><a href="{{ url_for('events', event_id=last_event[0]) }}">Last event created: {{ last_event[1]}} </a></h1>
                        <div class="event-link">
                            <span>Event</span> starts in
                        </div>
                        <div class="countdown-box">
                            <div id="the-countdown" class="row the-countdown" data-duedate=" {{ last_event[5] | strftime('%m/%d/%Y %H:%M')}}"> <!-- 6/1/2017 07:30 -->
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="days">00</div>
                                    <span>Days</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="hours">00</div>
                                    <span>Hours</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="minutes">00</div>
                                    <span>Minutes</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="seconds">00</div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="countdown-section">
                    <div class="container">
                        <h1><a href="{{ url_for('events', event_id=highest_event[0]) }}">Event with highest rating: {{ highest_event[1]}} </a></h1>
                        <div class="event-link">
                            <span>Event</span> starts in
                        </div>
                        <div class="countdown-box">
                            <div id="the-countdown" class="row the-countdown" data-duedate=" {{ highest_event[2] | strftime('%m/%d/%Y %H:%M')}}">
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="days">00</div>
                                    <span>Days</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="hours">00</div>
                                    <span>Hours</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="minutes">00</div>
                                    <span>Minutes</span>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="time-box" id="seconds">00</div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
{% endblock %}
{% block sections %}
    <section class="coming-events" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item="&gt;div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
        <div class="container">
            <h3 class="site-title">Latest <span>Events</span><i></i></h3>
            <div class="row tesla-carousel-items no-margin">
                {% for item in events %}
                    <div class="col-md-3 col-xs-6">
                        <div class="event-box">
                            <div class="event-box-cover">
                                <div class="event-box-hover">
                                    <div class="event-box-share">{{ item[20] | round(1) }}<span>Rating</span></div>
                                    <h6>{{ item[3] }}</h6>
                                </div>
                                {% if item[10] %}
                                    <img src="{{ item[10] }}" alt="event" />
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/default-event.png') }}" alt="event" />
                                {% endif %}
                            </div>
                            <h4><a href="{{ url_for('events', event_id=item[0]) }}">{{ item[1] }}</a></h4>
                            <p>{{ item[5]|strftime('%b %d, %Y') }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul>
                <li class="prev disabled"><i class="fa fa-arrow-circle-left"></i></li>
                <li><i class="fa fa-circle"></i></li>
                <li class="next"><i class="fa fa-arrow-circle-right"></i></li>
            </ul>
        </div>
    </section>
    <section class="our-team">
        <div class="container">
            <h3 class="site-title">Project <span>Developers</span><i></i></h3>
            <div class="row text-center">
                <div class="col-md-3 col-xs-6">
                    <div class="team-member">
                        <div class="member-cover">
                            <div class="round-relative">
                                <ul class="team-social">
                                    <li><a href="https://facebook.com/amaneureka"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/amaneureka"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                                <img src="{{ url_for('static', filename='images/amaneureka.png') }}" alt="member" />
                            </div>
                        </div>
                        <h5>Aman Priyadarshi</h5>
                        <h6>(216CO14)</h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="team-member">
                        <div class="member-cover">
                            <div class="round-relative">
                                <ul class="team-social">
                                    <li><a href="https://www.facebook.com/ayush.garg.940"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                                <img src="{{ url_for('static', filename='images/ayushgarg.jpg') }}" alt="member" />
                            </div>
                        </div>
                        <h5>Ayush Garg</h5>
                        <h6>(236CO14)</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="event-schedule">
        <div class="container">
            <h3 class="site-title">Events <span>schedule</span><i></i></h3>
            <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                {% for i in range(schedule_events|length) %}
                    <li role="presentation"><a href="#schedule{{i+1}}" aria-controls="schedule{{i+1}}" role="tab" data-toggle="tab">{{ schedule_events[i][0][5] | strftime('%B') }}</a></li>
                {% endfor %}
            </ul>
                <div class="tab-content">
                    {% for i in range(schedule_events|length) %}
                        <div role="tabpanel" class="tab-pane" id="schedule{{i+1}}">
                            <div class="event-day">
                                {% for item in schedule_events[i] %}
                                    <ul class="row">
                                        <li class="col-md-1"><span>{{item[5]|strftime('%b %d, ')}}{{item[5]|strftime('%H:%M')}}</span>{{item[7]|strftime('%b %d, ')}}{{item[7]|strftime('%H:%M')}}</li>
                                        <li class="col-md-5 no-overflow"><a href="{{ url_for('events', event_id = item[0] )}}">{{item[1] | safe}}</a></li>
                                        <li class="col-md-2 no-overflow"><i>Organizer: {{item[17]}}</i></li>
                                        <li class="col-md-3 no-overflow"><span>Venue:</span> {{item[21]}}, {{item[24]}}</li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
