<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome{% endblock %}</title>
        <meta name="description" content="Here goes description" />
        <meta name="author" content="author name" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {% block metadata %}{% endblock %}
        <!-- Style CSS + Google Fonts -->
        {% assets "default_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>
    <body class="{% block body_class %}{% endblock %}" >
        <div class="{% block main_div_class %}{% endblock %}">
                <header class="sticky-bar">
                    <div class="top-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <ul class="header-info">
                                        <li><a href="mailto:aman.eureka@gmail.com">
                                            <i class="fa fa-cog"></i>Aman Priyadarshi (216CO14)</a></li>
                                        <li><a href="mailto:aman.eureka@gmail.com">
                                            <i class="fa fa-cog"></i>Ayush Garg (236CO14)</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="header-social">
                                        <li>Don't miss the next event!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <div class="logo">
                                        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="logo" /></a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-6">
                                    <nav class="main-nav">
                                        <div class="responsive-menu"><i class="fa fa-bars"></i></div>
                                        <ul>
                                            <li>
                                                {% if session.uid %}
                                                    <a> Hi {{ session.username }}!
                                                {% else %}
                                                    <a>Dashboard</a>
                                                {% endif %}
                                                <ul>
                                                    <li><a href="{{ url_for('index') }}">Home</a></li>
                                                    {% if session.uid %}
                                                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                                    {% else %}
                                                        <li><a href="{{ url_for('login') }}">Login / Register</a></li>
                                                    {% endif %}
                                                    <li><a href="{{ url_for('events') }}">Search Event</a></li>
                                                    <li>
                                                        <a href="#">Gallery</a>
                                                        <ul>
                                                            <li><a href="gallery-4c.html">Gallery 4 col</a></li>
                                                            <li><a href="gallery-3c.html">Gallery 3 col</a></li>
                                                            <li><a href="gallery-2c.html">Gallery 2 col</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="404">Error 404</a></li>
                                                    <li><a href="index-footerv2.html">Footer v2</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            {% block main_div %}{% endblock %}
            {% block sections %}{% endblock %}
        </div>
        {% block extra_sections %}{% endblock %}
        <footer class="footer-v1">
            <div class="footer-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6881476313824!2d77.03287455020494!3d28.609130882340814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d053516783c9b%3A0x7e540ab22a28446!2sNetaji+Subhas+Institute+Of+Technology!5e0!3m2!1sen!2sin!4v1490519574224" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="container">
                <div class="bottom-footer">
                    <div class="subscribe-box">
                        <i class="fa fa-newspaper-o"></i>
                        <form>
                            <input type="text" class="subscribe-line" placeholder="Subscribe for updates about new events" />
                            <input type="submit" class="subscribe-button" value="Subscribe" />
                        </form>
                    </div>
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/ayush.garg.940"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/amaneureka"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/ayushgarg1804/Eventico"><i class="fa fa-github"></i></a></li>
                    </ul>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="logo">
                                    <a href="#"><img src="images/logo.png" alt="logo" /></a>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <nav class="second-nav">
                                    <ul>
                                        <li><a href="{{ url_for('index') }}">Home</a></li>
                                        <li><a href="{{ url_for('events') }}">Events</a></li>
                                        <li><a href="{{ url_for('login') }}">Member</a></li>
                                        <li><a href="https://www.nsit.ac.in">NSIT</a></li>
                                        <li><a href="{{ url_for('index') }}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">Aman Priyadarshi (216CO14) <i class="the-dot"></i> Ayush Garg (236CO14)</div>
                </div>
            </div>
        </footer>
        {% assets "default_js" %}
            <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>