{% extends "layout.html" %}
{% block title %}User{% endblock %}
{% block main_div_class %}site-image page-img{% endblock %}
{% block metadata %}
    {% if session.uid %}
        <meta http-equiv="refresh" content="3;url={{ redirect_url }}" >
    {% endif %}
{% endblock %}
{% block sections %}
        <section class="path-section">
            <div class="container">
                <h3>Login / Register</h3>
                <ul class="site-dot">
                    <li></li>
                    <li><span><i></i></span></li>
                    <li></li>
                </ul>
                <p>Home / Login or Register</p>
            </div>
        </section>
    <div class="login-register">
        <div class="container">
            {% if status.error %}
                <div class="alert alert-danger fade in col-md-10 col-md-offset-1">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong>  {{ status.error }}
                </div>
                <div style="height:15px; width:100%; clear:both;"></div>
            {% elif status.submit %}
                <div class="alert alert-success fade in col-md-10 col-md-offset-1">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {% if status.submit == 'login' %}
                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i> <strong>Welcome {{ status.username }}!</strong> You are being redirected to a new page.
                    {% elif status.submit == 'register' %}
                        <strong>Success!</strong> Account Created Successfully.
                    {% endif %}
                </div>
                <div style="height:15px; width:100%; clear:both;"></div>
            {% endif %}
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <form class="login-form" action="login?redirect_url={{ redirect_url }}" method="POST">
                        <h3>Welcome <i class="the-dot"></i></h3>
                        <input type="text" name="user" placeholder="Username">
                        <input type="password" name="pass" placeholder="Password">
                        <span>Remember me <input type="checkbox" name="remember" value="remember"></span>
                        <input type="submit" name="submit" value="Login">
                    </form>
                </div>
                <div class="col-md-5">
                    <form class="register-form" action="register" method="POST">
                        <h3>Not a user yet? <i class="the-dot"></i></h3>
                        <input type="text" name="user" placeholder="Username">
                        <input type="text" name="email" placeholder="E-mail">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="password" name="pass2" placeholder="Repeat Password">
                        <input type="submit" name="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}